body {
    font-family: arial;
}
h1 {
    font-size: 90px;
    text-align: center;
}
img {
    border: solid blue;
    margin-bottom: 20px;
}
figcaption {
    font-weight: bold;
    margin-bottom: 3em;
}
figure {
    text-align: center;
}
.one {
    text-align: center;
    background-color: rgb(129, 191, 255);
    margin-top: 0em;
    margin-bottom: 0em;
}
h2.one {
    margin-bottom: 0em;
    padding-top: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 3em;
    margin-right: 3em;
}
p.one {
    margin-top: 0em;
    padding-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 4.5em;
    margin-right: 4.5em;
    font-style: italic;
}
.two {
    text-align: center;
    background-color: rgb(255, 204, 153);
    margin-top: 0em;
    margin-bottom: 0em;
}
h2.two {
    margin-bottom: 0em;
    padding-top: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 3em;
    margin-right: 3em;
}
p.two {
    margin-top: 0em;
    padding-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 4.5em;
    margin-right: 4.5em;
    font-style: italic;
}
.three {
    text-align: center;
    background-color: rgb(204, 0, 102);
    margin-top: 0em;
    margin-bottom: 0em;
}
h2.three {
    margin-bottom: 0em;
    padding-top: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 3em;
    margin-right: 3em;
}
p.three {
    margin-top: 0em;
    padding-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 4.5em;
    margin-right: 4.5em;
    font-style: italic;
}
