body {
    font-family: arial;
}

table {
    border-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
}
caption {
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: bold;
    font-variant: small-caps;
}
thead {
    background-color: red;
    color: white;
}

.eka {
    font-weight: bold;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: grey;
}
.toka {
    background-color: rgb(204,255,255);
}