body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(0,255,0);
}

h2 {
    color: blue;
    font-weight: bold;
}
h1 {
    color: rgba(65,105,225,0.7);
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
    border: solid;
    border-color: grey;
    color: rgb(64,64,64);
    text-indent: 20px;
}
figure {
    font-weight: bold;
    caption-side: top;
}
p {
    text-indent: 50px;
    
}
.copyright_notice {
    font-size: 0.8em;
}
#special {
    font-size: 0.8em;
    color: yellow;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
.basic {
    font-family: times;
    margin: 0px;
}
p::first-letter {
    font-size: 8em;
}
p::first-line {
    font-weight: bold;
}

